Binaries
DerivedDataCache
Intermediate
Saved
Packaged
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/VREngine
Plugins/VREngineGuns
Config/steamvr_ue_editor_app.json
.idea/
Plugins/
